spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/uga-dining
    username: ${DB_USERNAME:defaultUsername}
    password: ${DB_PASSWORD:defaultPassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true